.custom-admin-navbar .p-overlaypanel-content {
  padding: 0;
}

.custom-sidebar .p-sidebar-header {
  display: none;
}
.custom-sidebar .p-sidebar-content {
  padding: 0;
}
.custom-calendar-admin .p-button:focus {
  box-shadow: none;
}
