@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
  background-color: #011627;
}

.custom-galleria .p-galleria-content {
  justify-content: space-between;
}
.custom-galleria .p-galleria-thumbnail-items-container {
  height: 100% !important; /* Chiếm toàn bộ chiều cao của container */
}
.custom-galleria .p-galleria-thumbnail-container {
  background: transparent;
  padding: 0;
}
.custom-galleria .p-galleria-thumbnail-prev,
.custom-galleria .p-galleria-thumbnail-next {
  display: none;
}
.custom-galleria .p-galleria-thumbnail-item-current {
  background-color: rgba(73, 73, 73, 0.5);
  border-radius: 12px;
}
.p-galleria-item-container,
.p-galleria-item-wrapper {
  width: 100%;
  margin-right: 10px;
}

.p-password-panel {
  display: none;
}

[data-pc-section="thumbnailitems"][pr_id_7] {
  [data-pc-section="thumbnailitem"] {
      flex: none!important;
  }
}