@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
  background-color: #011627;
}

.custom-galleria .p-galleria-content {
  justify-content: space-between;
}
.custom-galleria .p-galleria-thumbnail-items-container {
  height: 100% !important; /* Chiếm toàn bộ chiều cao của container */
}
.custom-galleria .p-galleria-thumbnail-container {
  background: transparent;
  padding: 0;
}
.custom-galleria .p-galleria-thumbnail-prev,
.custom-galleria .p-galleria-thumbnail-next {
  display: none;
}
.custom-galleria .p-galleria-thumbnail-item-current {
  background-color: rgba(73, 73, 73, 0.5);
  border-radius: 12px;
}
.p-galleria-item-container,
.p-galleria-item-wrapper {
  width: 100%;
  margin-right: 10px;
}

.p-password-panel {
  display: none;
}

[data-pc-section="thumbnailitems"][pr_id_10] {
  [data-pc-section="thumbnailitem"] {
      flex: none!important;
  }
}

.hero-thumbnail-img {
  @apply object-cover w-8 h-[2.875rem];
}

.hero-mini-game-description {
  -webkit-line-clamp: 2;
  max-height: 2.875rem;
  line-height: 1rem;  
  @apply text-sm font-light text-white text-overflow-ellipsis;
}

.hero-thumbnail-img-xl {
  @apply object-cover w-10 h-[3.6rem];
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;  
}

.text-overflow-ellipsis-1-line {
  -webkit-line-clamp: 1;
  @apply text-overflow-ellipsis;
}

.text-overflow-ellipsis-2-line {
  -webkit-line-clamp: 2;
  @apply text-overflow-ellipsis;
}

.top5-items-image {
  @apply object-cover min-w-[5.625rem] min-h-[7.5rem] max-w-[5.625rem] max-h-[7.5rem];
}