.image-gall-custom .p-galleria-thumbnail-prev,
.image-gall-custom .p-galleria-thumbnail-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #444444;
  margin: 0 5px;
  color: white;
}
.image-gall-custom .p-galleria-thumbnail-prev:hover,
.image-gall-custom .p-galleria-thumbnail-next:hover {
  transition: background-color 0.3s ease;
  filter: brightness(1.2);
}
.image-gall-custom .p-galleria-thumbnail-container {
  background: transparent;
}
.image-gall-custom .p-galleria-thumbnail-item-current img {
  border: 1px solid white;
}

.custom-rating .p-rating-icon {
  color: white;
  width: 15px;
  height: 15px;
}
.custom-rating-big .p-rating-icon {
  color: white;
  width: 15px;
  height: 15px;
}
